.btn-blue {
    background-color: blue;
    padding: 10px;
    color: white;
    text-decoration: none;
}

.btn-gold {
    background-color: gold;
    padding: 10px;
    color: brown;
    text-decoration: none;
}